<mat-dialog-content>
  <form [formGroup]="surveyForm">
    <mat-form-field class="field">
      <mat-label>Survey Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Unnamed survey">
    </mat-form-field>
    <!-- <mat-card *ngFor="let item of surveyForm.controls.questions.value">    
      <mat-form-field>
        <mat-label>Question</mat-label>
        <input matInput>
      </mat-form-field>
      <div *ngFor="let item of item.options">
        <mat-form-field>
          <mat-label>Options</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
  </mat-card> -->
</form>
</mat-dialog-content>
