<div>
  <mat-toolbar class="toolbar">
    <span>Survery Builder</span>
    <button mat-button color="primary" (click)="addSurvey()">Create new</button>
  </mat-toolbar>

  <p class="info-text">
    {{(surveys$ | async)?.length}} surveys
  </p>

  <mat-selection-list #surveys class="list-container">
    <mat-list-item *ngFor="let survey of surveys$ | async" class="list-item">
      <div class="list-item-container">
        {{survey.name || "Unnamed Survey"}}
        <div>
          <button mat-icon-button (click)="editSurvey(survey.id)" [disabled]="survey.isClosed">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="closeSurvey(survey.id)" [disabled]="survey.isClosed">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-selection-list>
</div>
